.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .animate-stroke {
    font-size: 3rem;
    fill: none;
    stroke: #4CAF50;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 3s forwards ease-in-out;
  }
  
  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }
  